@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<CompanyManager.UI.Models.CompanyViewModel>  

@foreach (var company in Model)
{
    <input type="hidden" name="companyId" value="@company.Id" />
    <div class="mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <input type="hidden" name="companyId" value="@company.Id" />
            <span contenteditable="true" onblur="this.form.submit()" class="form-control" style="display:inline-block; width: auto; border: none; cursor: text;">
                    @company.Name
            </span>
            <div>
                <button class="btn btn-success" title="Добавить отделение">
                    <i class="fas fa-plus"></i>
                </button>
                
                <button class="btn btn-danger" title="Удалить компанию">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>

        <ul class="list-group">
            @{
                var departmentIndex = 1;
            }
            @foreach (var department in company.Departments)
            {
                <li class="list-group-item">
                    <input type="hidden" name="departmentId" value="@department.Id"/>

                    <div class="d-flex justify-content-between align-items-center">
                        <strong>@departmentIndex. @department.Name</strong>
                        <div>
                            <button class="btn btn-success btn-sm" title="Добавить отделение">
                                <i class="fas fa-plus"></i>
                            </button>

                            <button class="btn btn-danger btn-sm" title="Удалить департамент">
                                <i class="fas fa-trash"></i>
                            </button>

                            <button class="btn btn-secondary btn-sm" title="Переместить вверх">
                                <i class="fas fa-arrow-up"></i>
                            </button>

                            <button class="btn btn-secondary btn-sm" title="Переместить вниз">
                                <i class="fas fa-arrow-down"></i>
                            </button>
                        </div>
                    </div>
                    <ul class="list-group mt-2">
                        @{
                            var divisionIndex = 1;
                        }
                        @foreach (var division in department.Divisions)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <input type="hidden" name="divisionId" value="@division.Id"/>
                                @divisionIndex. @division.Name
                                <div>
                                    <button type="submit" class="btn btn-danger btn-sm" title="Удалить отделение">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    <div class="d-inline">
                                        <button type="submit" class="btn btn-secondary btn-sm" title="Переместить вверх">
                                            <i class="fas fa-arrow-up"></i>
                                        </button>
                                        <button type="submit" class="btn btn-secondary btn-sm" title="Переместить вниз">
                                            <i class="fas fa-arrow-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
}

<form asp-controller="CompaniesApi" asp-action="CreateCompany" method="post" class="d-inline">
    <button type="submit" class="btn btn-success">Создать компанию</button>
</form>
<form asp-controller="CompaniesApi" asp-action="ExportToXml" method="post" class="d-inline">
    <button type="submit" class="btn btn-success">Экспортировать в XML</button>
</form>
<form asp-controller="CompaniesApi" asp-action="ImportFromXml" method="post" enctype="multipart/form-data" class="d-inline">
    <button type="submit" class="btn btn-info">Импортировать из XML</button>
    <input type="file" name="file" required class="form-control-file d-inline" />
</form>